{
  "presets": [
    [
      "env",
      { "modules": false }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "presets": ["minify"],
      "plugins": ["external-helpers"]
    },
    "es": {
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": ["env", "react"]
    }
  }
}
